{% extends "index.html" %}

{% block cartelera %}
        <!-- Cartelera -->
            <section id="cartelera">
                <h2>Cartelera</h2>
                <p>En <strong>CineX</strong> tenemos la mejor cartelera con los estrenos más esperados y una variedad de películas para todos los gustos. Vive una experiencia única en nuestras salas con tecnología de punta que te hará sentir parte de la historia. ¡No te pierdas lo mejor del cine, solo en CineX!</p>
            </section>
    
    {% endblock %}
