{% extends "index.html" %}

{% block contacto %}
        <!-- contacto -->
        <section id="contacto">
            <h2>Contacto</h2>
            <p>¿Tienes dudas, comentarios o sugerencias? Estamos aquí para ti. Contáctanos y descubre la atención personalizada que nos caracteriza. ¡Queremos escucharte!</p>
            <ul>
                <li><strong>Email:</strong> contacto@cinex.com</li>
                <li><strong>Teléfono:</strong> +34 123 456 789</li>
                <li><strong>Dirección:</strong> Calle Ficticia 123, Ciudad, País</li>
            </ul>
            <p>También puedes seguirnos en nuestras redes sociales para estar al tanto de las últimas novedades.</p>
        </section>
    
    {% endblock %}
