{% extends "index.html" %}

{% block legales %}
        <!-- legales -->
        <section id="legales">
            <h2>Legales</h2>
            <p>Tu confianza es nuestra prioridad. En <strong>CineX</strong>, garantizamos la transparencia y el cumplimiento de todas las normativas legales. Protegemos tus datos y aseguramos un uso ético de nuestra plataforma. Para más detalles, revisa nuestras <a href="/politicas">políticas de privacidad</a> y <a href="/terminos">términos y condiciones</a>. Porque ver cine también debe ser seguro.</p>
        </section>
        

    {% endblock %}
