{% extends "index.html" %}

{% block quienes_somos %}
        <!-- quines somos -->
        <section id="quienes-somos">
            <h2>Quiénes Somos</h2>
            <p>En <strong>CineX</strong>, somos más que un cine, somos una experiencia. Con años de pasión por el séptimo arte, nos hemos dedicado a crear un espacio donde cada visita se convierta en un momento inolvidable. Nuestra misión es ofrecerte emociones, risas, y aventuras en cada proyección. ¡Descubre por qué somos el destino favorito de los amantes del cine!</p>
        </section>

    {% endblock %}
